@model IEnumerable<CSVOrder.Models.Service.WorksInfoDataModel>

<div class="form-group">
    @*@Html.ListBoxFor(o => o, null)*@

    <div class="row">
        <div class="treeview col-md-6">
            @if (Model != null && Model.Any())
            {
                <ul>
                    @Treeview.GetTreeView(Model, Model.FirstOrDefault().IdParent)
                </ul>
            }
        </div>
        <div class="treeview col-md-6">
            @if (Model != null && Model.Any())
            {
                <ul>
                    @Treeview.GetTreeView(Model, Model.FirstOrDefault().IdParent)
                </ul>
            }
        </div>
    </div>

</div>